* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 32px;
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 40%;
  margin: 0 auto;
  margin-top: 16px;
}

.books-container {
  width: 95%;
  margin: 15px auto;
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  .books-container {
    width: 60%;
    margin: 15px auto;
    border: 1px solid black;
  }
}

#new-title {
  align-self: center;
  width: 100%;
  padding: 6px 0;
  padding-left: 6px;
  margin-right: 6px;
}

#new-author {
  align-self: center;
  width: 100%;
  padding: 6px 0;
  padding-left: 6px;
  margin-right: 6px;
}

.add-btn {
  align-self: end;
  text-align: center;
  padding: 3px 8px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
}

.book-item:nth-child(odd) {
  background: gray;
  color: white;
}

.author-title {
  display: flex;
}

span {
  padding: 0 4px;
}

.header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 0 24px;
  margin-top: 12px;
  align-items: center;
}

.logo {
  padding-left: 0.8rem;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 12px;
  align-items: center;
  height: 100%;
}

.current-day {
  align-self: flex-end;
  margin: 0 24px;
  margin-bottom: 24px;
}

.menu-option {
  border-left: 3px solid black;
  height: 100%;
  padding: 16px;
  cursor: pointer;
}

.menu-option:first-child {
  border-left: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  line-height: 24px;
}

.contact-info p {
  margin-top: 24px;
}

body > footer {
  position: sticky;
  top: 100vh;
  border: 2px solid black;
  padding: 16px;
  margin: 12px;
}

.hidden {
  display: none;
}
